<% provide(:title, "top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="self-introduction px-4">
      <h2 class="self border-bottom border-danger">自己紹介</h2>
      <p>トップベージ</p>
    </div>

    <div class="avatar d-flex aligin-item-center">
      <img src="/assets/スクリーンショット 2023-05-30 11.03.34.png" width="300" hight="300"  alt="アバター">
    </div>

    <div class="chart d-flex align-items-center">
      <h2 class="skill pd-4">スキルチャート</h2>
    </div>
      <img src="/assets/d2f6d7629a9e2bfd1f2e4c8e1aabefca.jpg" class="ps-5"  width="1000" hight="1000" alt="スキルチャート">
    <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
  </body>
</html>